* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: #f3f3f3;
}

header {
    height: 100vh;
    background-image: url(../imgs/courseManage.jpg);
    background-size: cover;
    background-position: center center;
    position: relative; /* Ensure relative positioning for absolute elements */
}

header .layer {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 50px; /* Adjust as needed */
}

.options-container {
    max-width: 1200px;
    margin: 220px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button {
    margin-left: 8px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.option {
    width: calc(33.33% - 20px); /* Adjust as needed */
    background-color: rgb(255,255,255,0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.option h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.option p {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Remove underline from anchor tags */
a {
    text-decoration: none !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,255,255,0.6);
    /* padding: 10px; */
    padding: 0 10px;
    color: #fff;
}

.navbar .left img {
    height: 60px;
}

.navbar .right {
    display: flex;
}

.navbar .right button {
    margin-right: 10px;
}

.navbar .right a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Add transition for smooth hover effect */
}

.navbar .right a:hover {
    background-color: #0056b3;
    /* Change background color on hover */
    color: #fff;
    /* Change text color on hover */
}

.navbar .right img {
    height: 40px;
}